/* this CSS contains only the basic CSS needed to run the app and use it */

.lgraphcanvas {
	cursor: crosshair;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.graphcontextualmenu {
	padding: 4px;
	min-width: 100px;
}


.graphcontextualmenu-title {
	color: #DDE;
	background-color: #222;	
	margin: 0;
	padding: 2px;
	cursor: default;
}

.graphmenu-entry {
	box-sizing: border-box;
	margin: 2px;
	padding-left: 20px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: * linear 0.5s;
}

.graphmenu-entry.event {
	border-left: 8px solid orange;
	padding-left: 12px;
}

.graphmenu-entry.disabled {
	opacity: 0.3;
}

.graphmenu-entry.submenu {
	border-right: 2px solid #EEE;
}


.graphmenu-entry:hover {
	background-color: #555;
}

.graphmenu-entry.separator {
	background-color: #111;
	border-bottom: 1px solid #666;
	height: 1px;
	width: calc( 100% - 20px );
	-moz-width: calc( 100% - 20px );
	-webkit-width: calc( 100% - 20px );
}

.graphmenu-entry .property_name {
	display: inline-block;
	text-align: left;
	min-width: 80px;
	min-height: 1.2em;
}

.graphmenu-entry .property_value {
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	text-align: right;
	min-width: 80px;
	min-height: 1.2em;
	vertical-align: middle;
	padding-right: 10px;
}

.graphdialog {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 2em;
	background-color: #333;
	font-size: 1.2em;
}

.graphdialog .name {
	display: inline-block;
	min-width: 60px;
	min-height: 1.5em;
	padding-left: 10px;
}

.graphdialog input, .graphdialog select {
	margin-top: 3px;
	min-width: 60px;
	min-height: 1.5em;
	background-color: black;
	border: 0;
	color: white;
	padding-left: 10px;
}

.graphdialog button {
	margin-top: 3px;
	vertical-align: top;
}

