.litegraph-editor {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #333;
    color: #eee;
    font: 14px Tahoma;

    position: relative;
}

.litegraph-editor h1 {
    font-family: "Metro Light", Tahoma;
    color: #ddd;
    font-size: 28px;
    padding-left: 10px;
    /*text-shadow: 0 1px 1px #333, 0 -1px 1px #777;*/
    margin: 0;
    font-weight: normal;
}

.litegraph-editor h1 span {
    font-family: "Arial";
    font-size: 14px;
    font-weight: normal;
    color: #aaa;
}

.litegraph-editor h2 {
    font-family: "Metro Light";
    padding: 5px;
    margin-left: 10px;
}

.litegraph-editor * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.litegraph-editor .content {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    background-color: #1a1a1a;
}

.litegraph-editor .header,
.litegraph-editor .footer {
    position: relative;
    height: 40px;
    background-color: #333;
    /*border-radius: 10px 10px 0 0;*/
}

.litegraph-editor .tools,
.litegraph-editor .tools-left,
.litegraph-editor .tools-right {
    position: absolute;
    top: 2px;
    right: 0px;
    vertical-align: top;

    margin: 2px 5px 0 0px;
}

.litegraph-editor .tools-left {
    right: auto;
    left: 4px;
}

.litegraph-editor .footer {
    height: 40px;
    position: relative;
    /*border-radius: 0 0 10px 10px;*/
}

.litegraph-editor .miniwindow {
    background-color: #333;
    border: 1px solid #111;
}

.litegraph-editor .miniwindow .corner-button {
    position: absolute;
    top: 2px;
    right: 2px;
    font-family: "Tahoma";
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
}

/* BUTTONS **********************/

.litegraph-editor button {
    /*font-family: "Metro Light";*/
    color: #ccc;
    font-size: 20px;
    min-width: 30px;
    /*border-radius: 0.3em;*/
    border: 0 solid #666;
    background-color: #3f3f3f;
    /*box-shadow: 0 0 3px black;*/
    padding: 4px 10px;
    cursor: pointer;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.4s;
}

.litegraph-editor button:hover {
    background-color: #999;
    color: #fff;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.4s;
}

.litegraph-editor button:active {
    background-color: white;
}

.litegraph-editor button.fixed {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
}

.litegraph-editor button img {
    margin: -4px;
    vertical-align: top;
    opacity: 0.8;
    transition: all 1s;
}

.litegraph-editor button:hover img {
    opacity: 1;
}

.litegraph-editor .header button {
    height: 32px;
    vertical-align: top;
}

.litegraph-editor .footer button {
    /*font-size: 16px;*/
}

.litegraph-editor .toolbar-widget {
    display: inline-block;
}

.litegraph-editor .editor-area {
    width: 100%;
    height: 100%;
}

/* METER *********************/

.litegraph-editor .loadmeter {
    font-family: "Tahoma";
    color: #aaa;
    font-size: 12px;
    border-radius: 2px;
    width: 130px;
    vertical-align: top;
}

.litegraph-editor .strong {
    vertical-align: top;
    padding: 3px;
    width: 30px;
    display: inline-block;
    line-height: 8px;
}

.litegraph-editor .cpuload .bgload,
.litegraph-editor .gpuload .bgload {
    display: inline-block;
    width: 90px;
    height: 15px;
    background-image: url("../demo/imgs/load-progress-empty.png");
}

.litegraph-editor .cpuload .fgload,
.litegraph-editor .gpuload .fgload {
    display: inline-block;
    width: 4px;
    height: 15px;
    max-width: 90px;
    background-image: url("../demo/imgs/load-progress-full.png");
}

.litegraph-editor .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;

    background-color: #222222;

    min-width: 400px;
    min-height: 200px;
	box-shadow: 0 0 4px #111;
    border-radius: 6px;
}

.litegraph-editor .dialog.settings {
	left: 10px;
	top: 10px;
	height: calc( 100% - 20px );
	margin: auto;
}

.litegraph-editor .dialog .close {
    float: right;
	margin: 4px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 1.4em;
}

.litegraph-editor .dialog .close:hover {
	color: white;
}

.litegraph-editor .dialog .dialog-header {
	color: #AAA;
	border-bottom: 1px solid #161616;
}

.litegraph-editor .dialog .dialog-header { height: 40px; }
.litegraph-editor .dialog .dialog-footer { height: 50px; padding: 10px; border-top: 1px solid #1a1a1a;}

.litegraph-editor .dialog .dialog-header .dialog-title {
    font: 20px "Arial";
    margin: 4px;
    padding: 4px 10px;
    display: inline-block;
}

.litegraph-editor .dialog .dialog-content {
    height: calc(100% - 90px);
    width: calc(100% - 10px);
    /*background-color: black;*/
    padding: 4px;
    display: inline-block;
	color: #AAA;
}

.litegraph-editor .dialog .node_type {
	font-size: 1.2em;
	display: block;
	margin: 10px;
}

.litegraph-editor .dialog .node_desc {
	opacity: 0.5;
	display: block;
	margin: 10px;
}

.litegraph-editor .dialog .separator {
	display: block;
	width: calc( 100% - 4px );
	height: 1px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	margin: 10px 2px;
	padding: 0;
}

.litegraph-editor .dialog .property {
	margin-bottom: 2px;
	padding: 0;
}

.litegraph-editor .dialog .property_name {
	color: #737373;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 120px;
	padding-left: 4px;
	overflow: hidden;
}

.litegraph-editor .dialog .property_value {
    display: inline-block;
    text-align: right;
	color: #AAA;
	background-color: #1A1A1A;
    width: calc( 100% - 122px );
    padding: 4px;
	padding-right: 12px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
}

.litegraph-editor .dialog .property_value:hover {
	color: white;
}

.litegraph-editor .dialog .property.boolean .property_value {
	padding-right: 30px;
}

.litegraph-editor .dialog button {
	border-radius: 4px;
    padding: 4px 20px;
    margin-left: 0px;
    background-color: #060606;
    color: #8e8e8e;
}

.litegraph-editor .dialog button:hover {
    background-color: #111;
    color: #FFF;
}

.litegraph-editor .dialog button.delete:hover {
    background-color: #F33;
    color: black;
}


.litegraph-editor textarea.code, .litegraph-editor div.code {
	height: 100%;
	width: 100%;
	background-color: black;
	padding: 4px;
	font: 16px monospace;
	overflow: auto;
	resize: none;
	outline: none;
}

.litegraph-editor .codeflask {
	background-color: #2a2a2a;
}

.litegraph-editor .codeflask textarea {
	opacity: 0;
}